.App {
  text-align: center;
}

a {
  margin: 0px 20px;
}

h2 {
  color: red;
}
.friendsList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0px auto;
}
.card {
  width: 300px;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 3px 3px #aaa;
  margin: 10px;
}
.buttonBox {
  display: flex;
  justify-content: flex-end;
}
.deleteButton {
  background: white;
  border: 1px solid black;
  font-weight: bold;
  box-shadow: 1px 1px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 10px 10px;
}
